.image_wrap {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.image_wrap > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}